# **Pandas Basic Programs**

In [1]:
import pandas as pd

 Make list of different data types and execute it

In [2]:
List_s =[1,2,-3,6.2," AI developer "]
print("List = ", List_s)

List =  [1, 2, -3, 6.2, ' AI developer ']

In [3]:
# Create Series through above list by using Series()
series = pd.Series(List_s)
print("Series of List ", series)

Series of List  0                 1
1                 2
2                -3
3               6.2
4     AI developer
dtype: object

In [4]:
# Find type of Series by using type()
print ("Type of the Series is ",type(series))

Type of the Series is  <class 'pandas.core.series.Series'>

In [6]:
# Create Series through short method
S2= pd.Series([1,2,3,4,])
print("Series 2 =", S2)

Series 2 = 0    1
1    2
2    3
3    4
dtype: int64

In [8]:
# Create empty Series
emp = pd.Series([])
print(emp)

Series([], dtype: object)

In [11]:
# Now change the index of S2
S2= pd.Series([1,2,3,4,], index =['a','b','c', 'd'])
print(" Series 2 = \n", S2)

 Series 2 =
 a    1
b    2
c    3
d    4
dtype: int64

In [12]:
# Change datatype of S2
S2= pd.Series([1,2,3,4,], index =['a','b','c', 'd'], dtype=float)
print(" Series 2 = \n", S2)

 Series 2 =
 a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [13]:
# Make S3 change datatype, indexes, and customize to it
S3= pd.Series([6,8,12,40,], index =['a','b','c', 'd'], dtype=float, name =" Data Values")
print(" S3 =  \n", S3)

 S3 =
 a     6.0
b     8.0
c    12.0
d    40.0
Name:  Data Values, dtype: float64

In [20]:
# create single scalar Series for single index
Scalar_s=pd.Series(0.5)
print("Single Scalar val = \n",Scalar_s)

Single Scalar val =
 0    0.5
dtype: float64

In [21]:
# create scalar Series  for making multi indexes
Scalar_s=pd.Series(0.5, index =[1,2,3,4])
print("Single Scalar val = \n",Scalar_s)

Single Scalar val =
 1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

In [22]:
# make Series dictionary with Odd number data values and index alphabets
dic = pd.Series({'a':1, 'b':3, 'c':5})
print("Series Dictionary = \n",dic)

Series Dictionary =
 a    1
b    3
c    5
dtype: int64

In [35]:
# create a ne series
S4 =pd.Series([1,'a', 3.0009])
print (S4)

0         1
1         a
2    3.0009
dtype: object

In [36]:
#Aaccess the value of S4 of index 0
print(S4[0])

1

In [37]:
# Access index 2
print(S4[2])

3.0009

In [38]:
# Access all values by Slicing
print("Slicing = \n ", S4[0:3])

Slicing =
  0         1
1         a
2    3.0009
dtype: object

In [40]:
# Find max val S4
max(S4)   # this not supporting the Str and int instances

TypeError: '>' not supported between instances of 'str' and 'int'

In [45]:
# make new dic Series and find its max val
dic = pd.Series([1,2,3,4,5,6])
print("Series Dictionary = \n",dic)
print ("max values of dic = ",max(dic))

Series Dictionary =
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
max values of dic =  6

In [48]:
# print it values >3
print(" Dic values > 3 = \n",dic[dic>3])

 Dic values > 3 =
 3    4
4    5
5    6
dtype: int64

In [49]:
# create dic2
dic2 = pd.Series([10,12,3,14,51,6])
print("Series Dictionary = \n",dic2)

Series Dictionary =
 0    10
1    12
2     3
3    14
4    51
5     6
dtype: int64

In [50]:
# Now add dic  and dic 2
dic + dic2

0    11
1    14
2     6
3    18
4    56
5    12
dtype: int64

In [51]:
# create dic3
dic3 = pd.Series([10,12,3,])
print("Series Dictionary = \n",dic3)

Series Dictionary =
 0    10
1    12
2     3
dtype: int64

In [52]:
# add dic 2 and dic 3 which unequal dictionaries
dic2 + dic3

0    20.0
1    24.0
2     6.0
3     NaN
4     NaN
5     NaN
dtype: float64